.menunavigation{
	margin-top: -24px;
	min-height: 40px;
    background-color: white;
	@media (max-width: 767px) 
	{
		position: relative;
	    width: 100%;
	    left: 0px;
	    top: 20px;
	    z-index: 999;
	    height: 37px;
	    margin-top:-20px;
	    margin-bottom: 20px;
	}

  }

.stickynav {
			z-index:9999;
			position: fixed;
			width:100%;
			top:0;
			min-height: 65px;
			margin-top:0px;
	    	margin-bottom: 20px;
			@media (max-width: 767px) {
				min-height:40px;
			}
			@media (min-width:768px){
				margin-top:-24px;
			}
			
		}

a.mega-menu-link {
    font-size: 13px !important;
    padding: 0px 4px 0px 4px !important;
}